
.centered
    h3 [[ctrl.gameName]]
.container
    .row
        .panel.panel-default.col-lg-4
            .panel-body
                .media
                    .media-left.media-middle
                        img(src="../static/managers/img/manager.png" width=100 height=150)
                        button.btn.btn-success Профиль
                    .media-body
                        ul
                            li [[ctrl.player.name]]
                            li " [[ctrl.player.company]] "
                            li [[ctrl.player.position]]
                        ul
                            li  $ [[ctrl.gamestat.money]]
                            li
                                i.fa.fa-phone(aria-hidden='true')
                                .progress
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                            li
                                i.fa.fa-angle-double-up(aria-hidden='true')
                                span Exp
                                .progress
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')


        .panel.panel-default.col-lg-8
            .panel
                p Фильтры
            .panel
                p Список организаций
            .panel.panel-default(ng-repeat="lead in ctrl.leads.items")
                .panel-body
                    .media
                        .media-left.media-middle
                            img(src="../static/managers/img/building[[lead.id]].png" width=100 height=150)
                        .media-body
                                    h1
                                        a [[lead.name]]

                                    .col-md-6
                                        p Размер : ***
                                        p
                                            i.fa.fa-dollar(aria-hidden='true' style="color:red;")
                                    .col-md-6
                                        .media-left.media-middle
                                            img(src="../static/managers/img/secretar[[lead.id]].png" width=75 height=100)
                                            a.btn.btn-success(href="/managers/#/talk") Позвонить
                                        .media-body



