{% load static %}

<script type="text/javascript" src='{% static 'angular/angular.js' %}'></script>
<script src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
{#<script type="text/javascript" src='{% static 'angular/angular_1_router.js' %}'></script>#}
<script type="text/javascript" src='{% static 'angular-bootstrap/ui-bootstrap.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}'></script>
<script type="text/javascript" src='{% static 'lodash/dist/lodash.js' %}'></script>
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
{#<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>#}
{#<script type="text/javascript" src='{% static 'bootstrap/js/bootstrap.js' %}'></script>#}
<script type="text/javascript" src='{% static 'restangular/dist/restangular.js' %}'></script>
<script type="text/javascript" src='{% static 'managers/app.js' %}'></script>
{#<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />#}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'managers/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'angular-bootstrap/ui-bootstrap-csp.css' %}" />
<script src="https://use.fontawesome.com/2dc2d2d22f.js"></script>
{#<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}" />#}
{#<link href='{% static 'managers/font.ttf' %}' rel='stylesheet' type='text/css'>#}

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <a href="/managers">Меeню</a>
            </div>
        </div>
    </div>

    <div class="centered"><h2 >Игра менеджеры</h2></div>

    <app></app>


</body>
</html>