{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'managers/styles.css' %}" />

<script type="text/javascript" src='{% static 'managers/app.js' %}'></script>
<script type="text/javascript" src='{% static 'managers/vendor.js' %}'></script>


<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Менеджеры</title>
    <link rel="icon"
      type="image/png"
      href="/static/managers/img/dollar.png">
</head>
<body  style="background-color:#FFF7EC;" ng-app="app" >
    <app></app>
</body>

</html>