.modal-header
    button.close(ng-click='$ctrl.cancel()' )
        span(aria-hidden='true') ×
    .modal-title
        h4
            b Добавление вариантов ответа
.modal-body
    p
        small id - [[$ctrl.node.id]]
    p
        small category - [[$ctrl.node.category]]
    p    [[$ctrl.node.text]]
    ul
        li(ng-repeat="element in $ctrl.node.answers")
            a [[element.id]]. [[element.text]]
                span.label.label-primary(ng-if="element.type") [[element.type]]
            button.btn.btn-danger(ng-click="$ctrl.delete(element.id)") x
    uib-tabset(active="active")
        uib-tab(index="0" heading="Добавить")
            ui-select(ng-model='$ctrl.selected'  on-select="")
                ui-select-match
                    span(ng-bind='$select.selected.text')
                ui-select-choices(repeat='item in $ctrl.resolve.tree')
                    span(ng-bind='item.text')
            button.btn.btn-primary(ng-click="$ctrl.save()")
                span Добавить
        uib-tab(index="1" heading="Создать новую")
            textarea.form-control(rows="3" ng-model="$ctrl.textToSave")
            button.btn.btn-primary(ng-click="$ctrl.create($ctrl.textToSave)")
                span Создать



.modal-footer
    //button.btn(ng-click="$ctrl.cancel()") Отменить
    button.btn(ng-disabled="addEntityForm.$invalid " ng-click="$ctrl.close()" ) Закрыть
