
.centered
    h3 Редактор диалога
    h5 [[ctrl.treeType]]
.container
    .row
        button.btn.btn-default(ng-click="ctrl.makeTree(ctrl.player)") Сделать дерево для Игрока
        button.btn.btn-default(ng-click="ctrl.makeTree(ctrl.npc)") Сделать дерево для NPC
        input(type = "checkbox" ng-model="ctrl.filterQ")

        ul(ng-repeat="question in ctrl.tree | HasNoAnswer: ctrl.filterQ | orderBy:'id'")
            li [[question.id]]. [[question.text]]
                span(ng-if="!question.type")
                    button.btn.btn-primary(ng-click="ctrl.openModal(question)")
                        i.fa.fa-pencil
                    button.btn.btn-danger(ng-click="ctrl.delete(question.id)")
                        i.fa.fa-trash
                span.label.label-primary(ng-if="question.type") [[question.type]]
                ul
                    li(ng-repeat="element in question.answers")
                        a [[element.id]]. [[element.text]]
                            span.label.label-primary(ng-if="element.type") [[element.type]]




