.panel(style="background-color:#C4D9D4;")
    h3 Список организаций
    .panel.panel-default(ng-repeat="lead in ctrl.service.companies")(style="background-color:#F8FBF4;")
        .panel-body
            .media
                .media-left.media-middle
                    img(src="../static/managers/img/building[[lead.id]].png" width=100 height=150)
                .media-body
                    h1
                        a(href="" ng-click="ctrl.goToCompany(lead.id)" style=";") [[lead.name]]
                    .row
                        .col-md-6
                            p Размер компании: [[lead.size]]
                            p История сделок:
                                i.fa.fa-dollar(aria-hidden='true' style="color:#A14E71;")
                            a.btn.btn-success(ng-click="ctrl.goToCompany(lead.id)")(style="background-color:#40423F;") Инфо
                            //a.btn.btn-success(ng-click="ctrl.goToTalk(lead.id)")(style="background-color:#40423F;") Позвонить