
.centered
    h3 [[ctrl.gameName]]
.container
    .row
        a(href = "/managers/#/game") Назад
        .panel.panel-default.col-lg-4
            .panel-body
                .media
                    .media-left.media-middle
                        img(src="../static/managers/img/manager.png" width=100 height=150)
                        button.btn.btn-success Профиль
                    .media-body
                        ul
                            li [[ctrl.player.name]]
                            li " [[ctrl.player.company]] "
                            li [[ctrl.player.position]]
                        ul
                            li  $ [[ctrl.gamestat.money]]
                            li
                                i.fa.fa-phone(aria-hidden='true')
                                .progress
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                            li
                                i.fa.fa-angle-double-up(aria-hidden='true')
                                span Exp
                                .progress
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')


        .panel.panel-default.col-lg-8
            .panel.panel-default
                .panel-body
                    .media
                        .media-left.media-middle
                            img(src="../static/managers/img/building[[ctrl.company.current.id]].png" width=100 height=150)
                        .media-body
                                    h1
                                        a(href="") [[ctrl.company.current.name]]

                                    .col-md-6
                                        p Размер : [[ctrl.company.current.size]]
                                        p [[ctrl.company.current.description]]
                                        p
                                            i.fa.fa-dollar(aria-hidden='true' style="color:red;")
            h5 Сотрудники:
            .panel.panel-default
                .panel-body
                    .col-md-6
                        .media-left.media-middle
                            img(src="../static/managers/img/secretar[[ctrl.company.current.id]].png" width=75 height=100)
                            a.btn.btn-success(ng-click="ctrl.goToTalk(ctrl.company.current.id)") Позвонить
                        .media-body



