
.centered
    h3 [[ctrl.gameName]]
.container
    .row
        .col-lg-4
            .panel.panel-default(style="background-color:#C4D9D4;")
                player-info(player = "ctrl.player")

        .col-lg-8
            .panel.panel-default(style="background-color:#C4D9D4;")
                .panel-heading(style="background-color:#ffffff;")
                    a(href = "/managers/#/game") Назад
                .panel-body
                    .media
                        .media-left.media-middle
                            img(src="../static/managers/img/building[[ctrl.company.current.id]].png" width=100 height=150)
                        .media-body
                                    h1
                                        a(href="") [[ctrl.company.current.name]]

                                    .col-md-6
                                        p Размер : [[ctrl.company.current.size]]
                                        p [[ctrl.company.current.description]]
                                        p История сделок:
                                            i.fa.fa-dollar(aria-hidden='true' style="color:#A14E71;")
                    h5 Сотрудники:
                    .panel.panel-default
                        .panel-body(style="background-color:#F8FBF4;")
                            .col-md-6
                                .media-left.media-middle
                                    img(src="../static/managers/img/secretar[[ctrl.company.current.id]].png" width=75 height=100)
                                    a.btn.btn-success(ng-click="ctrl.goToTalk(ctrl.company.current.id)") Позвонить
                                .media-body



