
.centered
    h3 [[ctrl.gameName]]
.container
    .row
        a(href = "/managers/#/game") Назад
        .panel.panel-default.col-lg-4
            player-info


        .panel.panel-default.col-lg-8
            .panel.panel-default
                .panel-body
                    .media
                        .media-left.media-middle
                            img(src="../static/managers/img/building[[ctrl.company.current.id]].png" width=100 height=150)
                        .media-body
                                    h1
                                        a(href="") [[ctrl.company.current.name]]

                                    .col-md-6
                                        p Размер : [[ctrl.company.current.size]]
                                        p [[ctrl.company.current.description]]
                                        p История сделок:
                                            i.fa.fa-dollar(aria-hidden='true' style="color:red;")
            h5 Сотрудники:
            .panel.panel-default
                .panel-body
                    .col-md-6
                        .media-left.media-middle
                            img(src="../static/managers/img/secretar[[ctrl.company.current.id]].png" width=75 height=100)
                            a.btn.btn-success(ng-click="ctrl.goToTalk(ctrl.company.current.id)") Позвонить
                        .media-body



