.container
    .row
        .col-sm-8.col-lg-4.col-sm-offset-2.col-lg-offset-4
                .thumbnail(style="background-color:#FFF7EC;")
                    img(src="../../static/managers/img/winner.jpg" height="250px" width="250px" align="middle").img-responsive
                    a(href="/#/newgame").btn.btn-default.btn-lg.btn-block  Новая игра
                    a(href="/#/tree" ng-if="ctrl.canSeeEditor").btn.btn-default.btn-lg.btn-block Редактор диалогов
                    a(ng-click="ctrl.help()").btn.btn-default.btn-lg.btn-block Помощь
                .thumbnail(style="background-color:#FFF7EC;")
                    h4.text-center Играть за:
                    div(ng-repeat="player in ctrl.players")
                        button.close(ng-click='ctrl.deletePerson(player.id)' )
                            i.fa.fa-trash
                        a(ng-click="ctrl.goToGame(player.id)" ).btn.btn-default.btn-lg.btn-block [[player.name]]

                            img(src="../../static/managers/img/[[player.image_path]]" height="50px" width="50px" align="middle").img-responsive

        .col-sm-2.col-lg-4
