//p Это главное меню. Отсюда можно начать новую игру и продолжить старую

.container
    .row

        .col-sm-8.col-lg-4.col-sm-offset-2.col-lg-offset-4
                .thumbnail(style="background-color:#FFF7EC;")
                    img(src="../../static/managers/img/winner.jpg" height="250px" width="250px" align="middle").img-responsive
                    a(href="/#/newgame").btn.btn-default.btn-lg.btn-block  Новая игра
                    a(href="/#/game?id=[[ctrl.clientId]]").btn.btn-default.btn-lg.btn-block  Продолжить Игру
                    //a(href="/#/talk").btn.btn-default.btn-lg.btn-block Тур переговоров
                    a(href="/#/tree").btn.btn-default.btn-lg.btn-block Редактор диалогов
                    a(ng-click="ctrl.help()").btn.btn-default.btn-lg.btn-block Помощь
        .col-sm-2.col-lg-4
    //li
    //    a(href="") Новая игра
    //li
    //    a(href="") Загрузить