
.centered
    h3 [[ctrl.gameName]]
.container
    .row
        .col-lg-12
            .row
                .col-lg-6
                    .panel.panel-default(style="background-color:#C4D9D4;")
                        h4 Осталось очков - [[ctrl.points]]
                        .panel-body
                            table
                                tr(ng-repeat="element in ctrl.stats.items")
                                    td [[element.caption]]
                                    td
                                        .btn-group
                                            button.btn.btn-default(ng-click="ctrl.minus(element.id)") -
                                            button.btn.btn-default [[ctrl.current.personality[element.name] ]]
                                            button.btn.btn-default(ng-click="ctrl.plus(element.id)") +



                    .panel.panel-default(style="background-color:#C4D9D4;")
                        .panel-body
                            table
                                tr
                                    td
                                        .btn-group
                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                | Специализация
                                                span.caret
                                            ul.dropdown-menu
                                                li(ng-repeat="sp in ctrl.specialties.items")
                                                    a(ng-click="ctrl.chooseSpecialty(sp.id)" href='' tooltip-placement="right" uib-tooltip="[[sp.tooltip]]") [[sp.caption]]
                                    td [[ctrl.current.specialties[0].caption]]
                                tr
                                    td
                                        .btn-group
                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                | Сектор работы компании
                                                span.caret
                                            ul.dropdown-menu
                                                li(ng-repeat="element in ctrl.indusrty.items")
                                                    a(ng-click="ctrl.chooseIndustry(element.id)" href='' tooltip-placement="right" uib-tooltip="[[element.tooltip]]") [[element.caption]]
                                    td [[ctrl.current.industry.caption]]


                .col-lg-3
                    .panel.panel-default(style="background-color:#C4D9D4;")
                        .panel-body
                            img(src="../../static/managers/img/[[ctrl.current.image]]" width=100 height=150)
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Выбрать Аватар
                                    span.caret
                                ul.dropdown-menu
                                    a(href="" ng-repeat="element in ctrl.images")(style="background-color:#F8FBF4;")
                                        img(src="../static/managers/img/[[element]]"  ng-click="ctrl.chooseAvatar(element)" width=50 height=75)
                            p
                                ul
                                    li(tooltip-placement="left" uib-tooltip="Деньги") $: [[ctrl.current.money]]
                                    li(tooltip-placement="left" uib-tooltip="Влияет на возможность аргументировать возражения по продукту, нормально разговаривать с техническими директорами") Знание продукта: [[ctrl.current.knowProduct]]
                                    li(tooltip-placement="left" uib-tooltip="Cколько нужно делать мин звонков в день") min Звонков: [[ctrl.current.minCalls]]
                                    li(tooltip-placement="left" uib-tooltip="Cколько максимум можно сделать звонков") max Звонков:[[ctrl.current.maxCalls]]

            .row(style="height:250px;")
                        .col-lg-4
                        .col-lg-4.btn.btn-default.btn-lg
                            a(ng-click="ctrl.create()")
                                span Создать Персонажа
                        .col-lg-4
