.panel-body(style="background-color:#F8FBF4;")
    .col-md-6
        .media-left.media-middle
            img(src="../static/managers/img/[[ctrl.npc.current.image_path]]" width=75 height=100)
            a.btn.btn-success(href="/#/talk?npcId=[[ctrl.npc.current.id]]") Позвонить
        .media-body
            p [[ctrl.npc.current.name]]







